version: 1.0.0
agentPool: public/prod-v2-public
stages:
    - stage: stage-c1
      displayName: TOS文件下载
      tasks:
        - task: task-c3
          displayName: 镜像构建推送至镜像仓库
          timeout: 2h
          steps:
            - step: step-c5
              displayName: TOS 下载
              component: artifact@1.0.0/tos-download
              inputs:
                bucketName: $(parameters.TOS_BUCKET_NAME)
                bucketRegion: $(parameters.TOS_REGION)
                path: $TOS_PROJECT_FILE_PATH
                targetPath: $DOWNLOAD_PATH
            - step: step-c6
              displayName: 命令执行
              component: execCmd@1.0.0/shell
              inputs:
                cmd: |-
                    mkdir -p $PROJECT_ROOT_DIR
                    tar -zxvf $DOWNLOAD_PATH/$TOS_PROJECT_FILE_NAME -C $PROJECT_ROOT_DIR
                shell: BASH
            - step: step-c4
              displayName: 镜像构建推送至镜像仓库服务
              component: build@2.0.0/buildkit-cr@5.0.0
              inputs:
                buildParams: ""
                compression: gzip
                contextPath: $PROJECT_ROOT_DIR
                crDomain: $CR_DOMAIN
                namespace: $CR_NAMESPACE
                region: $CR_REGION
                registryInstance: $CR_INSTANCE
                repo: $CR_OCI
                tag: $CR_TAG
                disableSSLVerify: true
                dockerfiles:
                    default:
                        path: $DOCKERFILE_PATH
                loginCredential: []
                useCache: false
                nydusify: true
          outputs:
            - imageOutput_step-c4
          workspace: {}
          resourcesPolicy: all
          resources:
            limits:
                cpu: 4C
                memory: 8Gi